<div role="warning" class="alert alert-warning w-full max-w-xl mx-auto">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
    <span>
        Warning: Here be dragons! 🐉 Seriously, make sure you know what you're doing on this page...
    </span>
</div>

<div class="collapse collapse-arrow bg-base-200 w-full max-w-xl mx-auto mt-4 outline outline-1">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
        GivingFuel Donations Import
    </div>
    <div class="collapse-content">
        <a href="https://manage.webconnex.com/reports/donations" target="_blank" class="btn btn-neutral">
            Open Donations Page
        </a>
        <p>
            Click "Export" in the top right of the donations page to download all donation records
        </p>
        <form id="givingfuel-bulk-import-form" hx-encoding="multipart/form-data" hx-post="admin/.givingfuel_bulk_import"
            class="mt-8">
            <input type="file" name="file" class="file-input file-input-bordered file-input-primary w-full">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Enter your email to prove you know what you're doing...</span>
                </div>
                <input type="text" name="email-verify" placeholder="Email" class="input input-bordered">
                <button class="btn btn-secondary w-1/3 mx-auto mt-4">UPLOAD</button>
            </label>
        </form>
    </div>
</div>