{% if let Some(errs) = errors %}
{% for err in errs %}
<div role="alert" class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{err}}</span>
</div>
{% endfor %}

{% else if let Some(tx_id) = transaction_id %}

<div hx-swap-oob="innerHTML:#user_details_{{user_id}}">
    <progress class="progress htmx-indicator">
        <script>
            $("#modal")[0].close();
            htmx.trigger("#user_details_trigger_{{user_id}}", "change", {});
        </script>
    </progress>
</div>

<div hx-swap-oob="beforeend:#alerts">
    <div role="alert" class="alert alert-success transition-opacity duration-300" id="alert_payment_success_{{tx_id}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Payment added succesfully</span>
        <script>
            setTimeout(() => {
                const toastElem = $("#alert_payment_success_{{tx_id}}")
                toastElem.on("transitionend", (event) => { event.target.remove(); });
                toastElem.css("opacity", 0);
            }, 2500);
        </script>
    </div>
</div>

{% endif %}