<div class="divider">
    Member Details
</div>

<a class="btn btn-link" href="mailto:{{user.email}}">
    {{user.email}}
</a>

{% if let Some(val) = user.consecutive_since_cached %}
<p>Active since {{val}} ({{user.generation_name.as_deref().unwrap_or("Generation N/A")}})</p>
{% endif %}

{% if let Some(val) = user.consecutive_until_cached %}
<p>Active until {{val}}</p>
{% endif %}

<div class="divider">
    Third-Party Accounts
</div>

{% if let Some(wc_users) = webconnex.data %}
{% for wc_user in wc_users %}
<a href="https://manage.webconnex.com/contacts/{{wc_user.id}}" target="_blank" class="btn btn-outline btn-primary">
    GivingFuel ID {{wc_user.id}}
</a>
{% endfor %}
{% endif %}

<div class="divider">
    Actions
</div>

<button class="btn btn-secondary btn-outline" onclick="openModal()" hx-target="#modal-content"
    hx-get="admin/user/{{user.id}}/payment">Add Payment</button>