<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{{ title }} | Membership Database Management Application{% endblock %}</title>
  <link rel="stylesheet" href="./assets/styles.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  {% block body %}{% endblock %}
  <dialog id="modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <progress id="modal-loading"
        class="progress mt-6 [&:has(+#modal-content:not(:empty)):not(.htmx-request)]:hidden"></progress>
      <div id="modal-content"></div>
    </div>
    <script>function openModal() { $("#modal-content").empty(); $("#modal")[0].showModal(); }</script>
    <form method="dialog" class="modal-backdrop">
      <button>CLOSE</button>
    </form>
  </dialog>
  <div class="toast" id="alerts"></div>
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
</body>

</html>