{% extends "base.layout.html" %}

{% block body %}
<header class="navbar bg-base-300 lg:rounded-box lg:m-3 lg:w-auto">
    {% if signed_in %}
    <ul class="menu menu-horizontal navbar-start">
        <li>
            <a hx-get="admin/users" hx-swap="innerHtml" hx-target="main">
                Users List
            </a>
        </li>
        <li>
            <a hx-get="admin/bulk_update" hx-swap="innerHtml" hx-target="main">
                Bulk Update
            </a>
        </li>
    </ul>
    <ul class="menu menu-horizontal navbar-end">
        <li>
            <a href="/signout">
                Sign Out
            </a>
        </li>
    </ul>

    {% else %}
    <a class="btn" href="/signin">
        Sign In
    </a>
    {% endif %}
</header>
<main class="my-2 lg:mx-4">
</main>
{% endblock %}